[submodule "bigquery-etl"]
	path = bigquery-etl
	url = https://github.com/bigquery-etl.git
[submodule "telemetry-airflow"]
	path = telemetry-airflow
	url = https://github.com/mozilla/telemetry-airflow.git
