[submodule "bigquery-etl"]
	path = bigquery-etl
	url = git@github.com:mozilla/bigquery-etl.git
[submodule "telemetry-airflow"]
	path = telemetry-airflow
	url = git@github.com:mozilla/telemetry-airflow.git
